{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
        <i class="fa fa-user"></i>
        User edit
    </h1>

    <ul class="list-inline">
        <li>
            <a href="{{ path('user') }}" class="btn btn-warning">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {% include 'BionicUniversityUserBundle:UserAdmin:form.html.twig' with {'form': edit_form} %}
{% endblock %}
