{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Role edit</h1>

    <ul class="list-inline">
        <li>
            <a href="{{ path('role') }}" class="btn btn-warning">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {% include 'BionicUniversityUserBundle:Role:form.html.twig' with {'form': edit_form} %}
{% endblock %}
