{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Role creation</h1>

    <ul class="list-inline">
        <li>
            <a href="{{ path('role') }}" class="btn btn-warning">
                Back to the list
            </a>
        </li>
    </ul>

    {% include 'BionicUniversityUserBundle:Role:form.html.twig' %}
{% endblock %}
