{% extends "::base.html.twig" %}

{% block body %}
    <div class="cart-products">
        <h1>
            <i class="fa fa-shopping-cart"></i>
            Cart
        </h1>
        {% include "BionicUniversityCheckoutBundle:Cart/partials:cart-main.html.twig" %}
        <div>
            <a class="btn btn-info" href="{{ path('perform_purchase') }}">Perform purchase</a>
        </div>
        <div class="total-price">Total-price: USD {{ totalPrice }}</div>
    </div>
{% endblock %}