{% extends 'BionicUniversityWebBundle::layout.html.twig' %}

{% block content %}
<h1>{{ entity.name }}</h1>
   <p> {{ entity.description }}</p>
    <p><b>Price: {{ entity.price }}</b></p>
{% endblock %}

