{% extends 'BionicUniversityWebBundle::layout.html.twig' %}
{% block content %}
    <h1>{{ category.name }}</h1>

    <ul>
        {% for product in category.products %}
            <li>
                <p>{{ product.name }}</p>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}